<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <img src="assets/imgs/user.png">
      <div class="name">
        Alenka Horvat
        <small>alenka@horvat.com</small>
      </div>
      <!--<ion-title>Menu</ion-title>-->
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [class]="p.class">
        {{p.title}}<img *ngIf="p.class == 'add'" src="assets/icon/add.png">
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>