<ion-header class="transparent">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="grey-bg">
  <div class="tabs-secction">
    <div class="logo">
      <img src="assets/imgs/logo.png" *ngIf="_active_tab == 1">
      <div *ngIf="_active_tab > 1">{{ data[0].fields[3].value }}</div>
    </div>
    <div class="tabs">
      <div class="tab" [class.active]="_active_tab == 1" (click)="selectTab(1)">info</div>
      <div class="tab" [class.active]="_active_tab == 2" (click)="selectTab(2)">create</div>
      <div class="tab" [class.active]="_active_tab == 3" (click)="selectTab(3)">features</div>
      <div class="tab" [class.active]="_active_tab == 4" (click)="selectTab(4)">preview</div>
    </div>
  </div>
  <div class="tab-content" *ngIf="_active_tab == 1">
    <div class="group white-item">
      <div class="group-title">Basic information</div>
      <div *ngFor="let item of data[0].fields;">
        <ion-item *ngIf="item.type != 'checkboxes'">
          <ion-label *ngIf="item._display_title">{{ item.name }}: </ion-label>
          <ion-input [(ngModel)]="item.value" *ngIf="item.type == 'text'"></ion-input>
          <ion-select [(ngModel)]="item.value" interface="popover" *ngIf="item.type == 'select'">
            <ion-option value="{{c.code}}" *ngFor="let c of item.options" >{{ c.name }}</ion-option>
          </ion-select>
        </ion-item>
        <div class="checkboxes" *ngIf="item.type == 'checkboxes'">
          <div class="item" *ngFor="let type of item.options" (click)="type.selected = !type.selected">
            <div class="checkbox" [class.checked]="type.selected"></div><label>{{ type.name }}</label>
          </div>
        </div> 
      </div>
      
      <!--
      <ion-item>
        <ion-label>Continent:</ion-label>
        <ion-select [(ngModel)]="info.continent" interface="popover">
          <ion-option value="{{c.code}}" *ngFor="let c of continents" >{{ c.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Country:</ion-label>
        <ion-select [(ngModel)]="info.country" interface="popover">
          <ion-option value="{{c.code}}" *ngFor="let c of countries">{{ c.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Nearest city:</ion-label>
        <ion-input [(ngModel)]="info.nearest_city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Beach name:</ion-label>
        <ion-input [(ngModel)]="info.beach_name"></ion-input>
      </ion-item>
      <div class="checkboxes">
        <div class="item" *ngFor="let type of _beach_type" (click)="type.selected = !type.selected">
          <div class="checkbox" [class.checked]="type.selected"></div><label>{{ type.name }}</label>
        </div>
      </div>-->
    </div>
    <textarea [(ngModel)]="info.description" placeholder="Short description..." class="white-item"></textarea>
    <button ion-button color="secondary" class="proceed right" (click)="selectTab(2)">Next step</button>
  </div>
  <div class="tab-content" *ngIf="_active_tab == 2">
    <div class="group" >
      <div *ngIf="!_galleryOpened">
        <div class="media-item">
          <div class="icon photo">PARKING<span>{{ gallery.parking.images.length }}/ {{ gallery.parking.limit }}</span></div>
          <button class="big" (click)="openGallery(gallery.parking)">PHOTO GALLERY</button>
          <ion-item>
            <ion-label class="grey">no parking available</ion-label>
            <ion-checkbox [(ngModel)]="!info.parking_image"></ion-checkbox>
          </ion-item>
        </div>
        <div class="media-item">
          <div class="icon photo">PATH<span>{{ gallery.video.images.length }}/ {{ gallery.video.limit }}</span></div>
          <button class="big" (click)="openGallery(gallery.video)">VIDEO GALLERY</button>
          <ion-item>
            <ion-label class="grey">no path available</ion-label>
            <ion-checkbox [(ngModel)]="!info.path_image"></ion-checkbox>
          </ion-item>
        </div>
        <div class="media-item">
          <div class="icon map">DRAW THE PATH</div>
          <button class="big">VIDEO GALLERY</button>
          <ion-item>
            <ion-label class="grey">no path available</ion-label>
            <ion-checkbox [(ngModel)]="!info.draw_path"></ion-checkbox>
          </ion-item>
        </div>
        <div class="media-item margin">
          <div class="icon photo">BEACH<span>{{ gallery.beach.images.length }}/ {{ gallery.beach.limit }}</span></div>
          <button class="big" (click)="openGallery(gallery.beach)">SPHERE GALLERY</button>
        </div>
        <div class="media-item margin">
          <div class="icon video">VIDEO<span>0/5</span></div>
          <button class="big">VIDEO GALLERY</button>
        </div>
        <div class="media-item">
          <div class="icon sphere">SPHERE<span>0/5</span></div>
          <button class="big">SPHERE GALLERY</button>
          <ion-item>
            <ion-label class="grey">no sphere available</ion-label>
            <ion-checkbox [(ngModel)]="!info.sphere"></ion-checkbox>
          </ion-item>
        </div>
        <button ion-button color="secondary" class="proceed right" (click)="selectTab(1)">Previous step</button>
        <button ion-button color="secondary" class="proceed right" (click)="selectTab(3)">Next step</button>
      </div>
      <div *ngIf="_galleryOpened">
        <div class="gallery">
          <div class="heading">
            <span>{{ galleryItem.label }} {{ galleryItem.images.length }}/{{ galleryItem.limit }}</span>
            <label (click)="deleteImages()">CHOOSE TO DELETE</label>
          </div>
          <div class="images">
            <div class="image-wrapper" 
                 (click)="item.selected = !item.selected"
                 [class.selected]="item.selected"
                 *ngFor="let item of galleryItem.images" >
              <img [src]="item.path">
            </div>
          </div>
          <button ion-button color="secondary" class="proceed right" (click)="_galleryOpened = false">Back</button>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content no-padding" *ngIf="_active_tab == 3">
    <div class="slide-nav">
      <div class="inner-wrapper">
        <div class="item" [class.active]="_active_type == 1" (click)="selectType(1)">Beach tipe</div>
        <div class="item" [class.active]="_active_type == 2" (click)="selectType(2)">User tipe</div>
        <div class="item" [class.active]="_active_type == 3" (click)="selectType(3)">Gastronomy</div>
        <div class="item" [class.active]="_active_type == 4" (click)="selectType(4)">Environment & accomodation</div>
      </div>
    </div>

    <div class="group white-item" *ngFor="let tab of data[2].tabs; let i = index;">
      <div *ngIf="i == _active_type-1">
        <div *ngFor="let item of tab.fields">
          <ion-item *ngIf="item.type != 'checkboxes'">
            <ion-label *ngIf="item._display_title">{{ item.name }}:</ion-label>
            <ion-input [(ngModel)]="item.value" *ngIf="item.type == 'text'"></ion-input>
            <ion-select [(ngModel)]="item.value" interface="popover" *ngIf="item.type == 'select'">
              <ion-option value="{{c.code}}" *ngFor="let c of item.options" >{{ c.name }}</ion-option>
            </ion-select>
          </ion-item>
          <div class="checkboxes" *ngIf="item.type == 'checkboxes'">
            <div class="group-title">{{ item.name }}</div>
            <div class="item" *ngFor="let type of item.options" (click)="type.selected = !type.selected">
              <div class="checkbox" [class.checked]="type.selected"></div><label>{{ type.name }}</label>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <button ion-button color="secondary" class="proceed right" (click)="_active_type > 1 ? selectType(_active_type - 1) : selectTab(2)">Previous step</button>
    <button ion-button color="secondary" class="proceed right" (click)="selectType(_active_type + 1)">Next step</button>
  </div>
</ion-content>